<h1>NGBS</h1>
<h2>A collection of Angular modules based on Bootstrap</h2>
<hr>

<h3>Auth</h3>
<a href="https://github.com/matt139/nx-ngbs/tree/master/libs/auth" class="mx-2"
  >Github</a
>
<a href="https://ngbs-auth.web.app" class="mx-2">Storybook</a>
<a href="https://ngbs-auth-docs.web.app" class="mx-2">Compodoc</a>
<p>Drop-in Module providing authentication + UI for Firebase Auth</p>

<ul>
  <li>
    <a routerLink="/auth" class="d-block"> Auth </a>
  </li>
  <ul>
    <li>
      <a routerLink="/auth/sign-up">sign up</a>
    </li>
    <li>
      <a routerLink="/auth/log-in">log in</a>
    </li>
  </ul>
</ul>

<h3>Utils</h3>
<a href="https://github.com/matt139/nx-ngbs/tree/master/libs/utils" class="mx-2"
  >Github</a
>
<a href="https://ngbs-utils.web.app" class="mx-2">Storybook</a>
<a href="https://ngbs-utils-docs.web.app" class="mx-2">Compodoc</a>
<p>Misceleneous Angular Utilities</p>

<li>
  <a routerLink="/utils">Utils</a>
  <ul>
    <li>
      <a routerLink="/utils/select-stylesheet">select stylesheet</a>
    </li>
    <li>
      <a routerLink="/utils/uncheck-on-document-click">uncheck on document click</a>
    </li>
  </ul>
</li>
