<h1>NGBS</h1>
<h2>A collection of Angular modules based on Bootstrap</h2>

<dl class="list-group">
  <dt class="list-group-item">
    <a routerLink="/auth" class="col"> Auth </a>
  </dt>
  <dd>
    <a href="https://github.com/matt139/nx-ngbs/tree/master/libs/auth">Github</a>
    <a href="https://ngbs-auth.web.app">Storybook</a>
    <a href="https://ngbs-auth-docs.web.app">Compodoc</a>
    <ul>
      <li>
        <a routerLink="/auth/sign-up">sign up</a>
      </li>
      <li>
        <a routerLink="/auth/log-in">log in</a>
      </li>
    </ul>
  </dd>
  <dt>
    <a routerLink="/utils">Utils</a>
  </dt>
  <
  <dd>Github Storybook Compodoc Webpack</dd>
</dl>
